.container-pag {
  background-image: url("../../../assets/img-registrarse.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  /* filter: blur(8px); */
}

.container-form {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1;
  /* display: flex; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
}

.form-field {
  margin-bottom: 15px;
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input {
  width: 90%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-field small {
  display: block; /*1 solo renglon de uso */
  color: red;
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap; /*no se separa en renglones el texto */
  overflow: hidden;
  text-overflow: ellipsis; /*si el mensaje es muy largo le da puntos suspensivos*/
}

.btn-registrarse {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-registrarse:disabled {
  background-color: #ccc;
}

.btn-registrarse:hover:not(:disabled) {
  background-color: #0056b3;
}
