<div class="container-pag">
  <div class="blur-overlay"></div>
  <button class="back-button" (click)="goTo(rutaBienvenida)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M19 12H5M12 19l-7-7 7-7" />
    </svg>
  </button>

  <div class="container-buttons">
    <button
      class="btn-rol"
      [class.active]="selectedRol === 'especialista'"
      (click)="selectRol('especialista')"
    >
      <div class="role-image especialista-image"></div>
      <div>Especialista</div>
    </button>
    <button
      class="btn-rol"
      [class.active]="selectedRol === 'paciente'"
      (click)="selectRol('paciente')"
    >
      <div class="role-image paciente-image"></div>
      <div>Paciente</div>
    </button>
  </div>

  <form
    *ngIf="selectedRol"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="container-form"
  >
    <div class="form-field">
      <label for="nombre">Nombre:</label>
      <input
        id="nombre"
        formControlName="nombre"
        placeholder="Ingrese su nombre"
      />
      <small *ngIf="nombre?.hasError('required') && nombre?.touched"
        >El nombre es obligatorio</small
      ><small *ngIf="nombre?.hasError('minlength') && nombre?.touched"
        >El nombre debe tener como minimo 3 caracteres</small
      >
    </div>
    <div class="form-field">
      <label for="Apellido">Apellido:</label>
      <input
        id="apellido"
        formControlName="apellido"
        placeholder="Ingrese su apellido"
      />
      <small *ngIf="apellido?.hasError('required') && apellido?.touched"
        >El apellido es obligatorio</small
      ><small *ngIf="apellido?.hasError('minlength') && apellido?.touched"
        >El apellido debe tener como minimo 3 caracteres</small
      >
    </div>
    <div class="form-field">
      <label for="edad">Edad:</label>
      <input id="edad" formControlName="edad" placeholder="Ingrese su edad" />
      <small *ngIf="edad?.hasError('required') && edad?.touched"
        >La edad es obligatoria</small
      ><small *ngIf="edad?.hasError('min') && edad?.touched"
        >Debe ser mayor a 15 años</small
      >
    </div>
    <div class="form-field">
      <label for="dni">DNI:</label>
      <input id="dni" formControlName="dni" placeholder="Ingrese su dni" />
      <small *ngIf="dni?.hasError('required') && dni?.touched"
        >El DNI es obligatorio</small
      ><small *ngIf="dni?.hasError('minlength') && dni?.touched"
        >El formato del DNI es incorrecto, debe ser mayor a 7 caracteres</small
      >
      <small *ngIf="dni?.hasError('maxlength') && dni?.touched"
        >El formato del DNI es incorrecto, debe ser menor a 8 caracteres</small
      >
    </div>
    <div class="form-field" *ngIf="selectedRol === 'paciente'">
      <label for="obraSocial">Obra social:</label>
      <input
        id="obraSocial"
        formControlName="obraSocial"
        placeholder="Ingrese su obra social"
      />
      <small *ngIf="obraSocial?.hasError('required') && obraSocial?.touched"
        >El nombre es obligatorio</small
      ><small *ngIf="obraSocial?.hasError('minlength') && obraSocial?.touched"
        >La obra social no existe</small
      >
    </div>
    <div class="form-field" *ngIf="selectedRol === 'especialista'">
      <label for="especialidad">Especialidad:</label>
      <div class="select-wrapper">
        <select id="especialidad" formControlName="especialidad">
          <option value="">Seleccione una especialidad</option>
          <option *ngFor="let esp of especialidades" [value]="esp">
            {{ esp }}
          </option>
        </select>
      </div>
      <small *ngIf="especialidad?.hasError('required') && especialidad?.touched"
        >La especialidad es obligatoria</small
      >
    </div>
    <div class="form-field">
      <label for="email">Email:</label>
      <input
        id="email"
        formControlName="email"
        placeholder="Ingrese su email"
      />
      <small *ngIf="email?.hasError('required') && email?.touched"
        >El email es obligatorio</small
      ><small *ngIf="nombre?.hasError('email') && nombre?.touched"
        >El formato del email es incorrecto</small
      >
    </div>
    <div class="form-field">
      <label for="nombre">Contraseña:</label>
      <input
        id="clave"
        formControlName="clave"
        placeholder="Ingrese su contraseña"
      />
      <small *ngIf="clave?.hasError('required') && clave?.touched"
        >La contraseña es obligatoria</small
      ><small *ngIf="clave?.hasError('minlength') && clave?.touched"
        >El formato de la contrseña no es valida</small
      >
    </div>
    <div class="form-field">
      <label for="image1">Cargar Imagen 1:</label>
      <input
        type="file"
        id="image1"
        (change)="onFileSelect($event, 'image1')"
        accept="image/*"
      />
      <small *ngIf="imageError1">{{ imageError1 }}</small>
    </div>

    <div class="form-field" *ngIf="selectedRol === 'paciente'">
      <label for="image2">Cargar Imagen 2:</label>
      <input
        type="file"
        id="image2"
        (change)="onFileSelect($event, 'image2')"
        accept="image/*"
      />
      <small *ngIf="imageError2">{{ imageError2 }}</small>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn-registrarse">
      Registrarse
    </button>
  </form>
</div>
